* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --background-light-purple: #6F44B6;
    --background-dark-purple: #391F69;
    --link-colors: #d9d7e2;
    --white: #FFFFFF;
}
h1 {
    color: var(--white);
}
li, footer > p {
    font-weight: 500;
    color: var(--link-colors);
}
li {
    border-bottom: 1px solid var(--background-light-purple);
}
li:hover {
    border-color: black;
}
p:not(footer > p) {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--background-dark-purple);
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-dark-purple);
}
header {
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #6F44B6;
}
#nav-container {
    min-width: 20rem;
}
#nav-links {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
#nav-links > li:hover {
    cursor: pointer;
}
#content {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 8rem 1fr max-content;
}
.active-content {
    text-align: center;
    padding: 1rem;
    margin: 2rem auto;
    max-width: 75vw;
    background-color: var(--white);
    border-radius: 10px;
 }
.active-content > * {
    padding: 1rem;
}
#pizza-man {
    width: 200px;
    height: 200px;
}
#home-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#menu-content-container {
    display: grid;
    align-content: center;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}
.menu-item {
    border-radius: 10px;
    box-shadow: 0 0 4px var(--background-dark-purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 20rem;
}
.menu-item > *:not(img) {
    padding: 1rem;
}
#contact-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
footer {
    background-color: var(--background-light-purple);
    text-align: center;
    padding: 1rem;
}