* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: brown;
}
#nav-links {
    width: 15rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
#nav-links > li:hover {
    cursor: pointer;
}
#content {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 5rem auto max-content;
}
.active-content {
    padding: 1rem;
    margin: 0 auto;
    min-width: 50%;
    background-color: aqua;
}
.active-content > * {
    padding: 1rem;
}
#menu-content-container {
    display: grid;
    align-content: center;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
.menu-item {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 20rem;
}
.menu-item > *:not(img) {
    padding: 1rem;
}
footer {
    background-color: blueviolet;
    text-align: center;
    padding: 1rem;
}